#exemplo{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: all 2s linear;
    /* transition: width 2s linear 2s, height 2s linear; */
    /* transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 2s; */
}
#exemplo:hover{
    width: 350px;
    height: 350px;
    background-color: green;
}