*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    box-sizing: border-box;
}

#exemplo{
    background-color: green;
    color: #fff;
    width: 500px;
    padding: 10px 20px 30px 40px;
}
#exemplo2{
    background-color: red;
    color: #fff;
    width: 500px;
    margin: 20px 30px 20px 40px;
}

/* SENTIDO: TOP RIGHT BOTTOM LEFT */