


/****** AULA 06
#conteudo{min-width: 500px;min-height: 20px;background-color: green;color: #fff;padding: 20px;text-align: center;} */


/****** AULA 05
.texto-principal{color: red;text-align: center;}
.fundo-principal{background-color: greenyellow;padding: 20px;}
#conteudo{background-color: cornflowerblue;padding: 20px;} */


/*
.nome da classe{}
#nome da id{} */


/****** AULA 04
h1, h2, p{color: darkblue;text-align: center;font-family: Arial, Helvetica, sans-serif;}*/


/****** AULA 02 E 03
*{margin: 0;padding: 0;}
h1{color: blue;font-size: 60px;}
p{color: green;font-size: 12px;}
input[type="text"]{width: 200px;height: 35px;background-color: #ccc;border: none;}
input[name="email"]{width: 200px;height: 35px;background-color: #ccc;border: none;}
input[type="submit"]{width: 50px;height: 35px;background-color: green;cursor: pointer;color: #fff;}*/


/****** AULA 01
h1{color: blue;font-size: 60px;font-family: tahoma;} */